<div class="pull-right">
  <%= link_to("Add a wod", new_wod_path, :class => "btn btn-info" ) %>
</div>

<br><br>

<table class="table table-boldered">

    <thead>
        <tr>
            <td>
                WOD's Name</td>
            <td>WOD Type</td>
            <td>WOD Description</td>
            <td>WOD Category</td>
        </tr>

    </thead>

      <tbody>
            <% @wods.each do |wod| %>
            <tr>
                <td>
                    <%= link_to(wod.wodname, wod_path(wod)) %>
                </td>
                <td>
                  <% if wod.wodtype %>
                    Task Priority
                  <% else %>
                    Time Priority
                  <% end %>
                </td>
                <td>
                    <%= wod.description %>
                </td>
                <td>
                    <%= wod.created_at %>
                </td>
            </tr>
            <% end %>
      </tbody>

</table>
