<div class="pull-right">
  <%= link_to("Add a wod", new_wod_path, :class => "btn btn-default" ) %>
</div>


<table class="table table-boldered">
  <% @wods.each do |wod| %>
  <tr>
    <td>
      <%= link_to(wod.wodname, wod_path(wod)) %>
    </td>
    <td>
      <%= wod.introduction %>
    </td>
    <td>
      <%= wod.created_at %>
    </td>
  </tr>
  <% end %>
</table>
